.section {
    border: 1px;
    border-style: solid;
    background-color: white;
    min-height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    .section-content {
        display: flex;
    }
  }